@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex h-100 flex-column justify-content-center align-items-center bpdy">
    <h1>Your password has been successfully reset!</h1>
    <p>You may now log in using your new password</p>

</div>