# Test Run on 09.04.2021

| **TC-ID** | **Result** | **IF FAILED COMMENT** |
| --- | --- | --- |
| US02-0 | PASSED |
 |
| US02-1 | PASSED |
 |
| US02-2 | PASSED |
 |
| US02-3 | PASSED |
 |
| US01-0 | PASSED |
 |
| US01-1 | PASSED |
 |
| US01-2 | PASSED |
 |
| US01-3 | PASSED |
 |
| US05-0 | PASSED |
 |
| US05-1 | PASSED |
 |
| US05a-0 | PASSED |
 |
| US05a-1 | PASSED |
 |
| US05b-0 | PASSED |
 |
| US05b-1 | PASSED |
 |
| US04-0 | PASSED |
 |
| US04-1 | PASSED |
 |
| US04-2 | PASSED |
 |
| US04-3 | FAILED | Only a few ingredients are available |
| US04-4 | FAILED | Ingredients aren&#39;t shown in recipecard |
| US03-0 | PASSED |
 |
| US03-1 | FAILED | Ingredients aren&#39;t shown in Update-Card |
| US03-2 | FAILED | Ingredients aren&#39;t shown in recipecard |
| US07-0 | PASSED |
 |
| US07-1 | BLOCKED | Not implemented yet |
| US07-2 | BLOCKED | Not implemented yet |
| US07-3 | BLOCKED | Not implemented yet |
| US07-4 | PASSED |
 |
| US08-0 | PASSED |
 |
| US08-1 | PASSED |
 |
| US08-2 | PASSED |
 |
| US08-3 | PASSED |
 |
| US08-4 | BLOCKED | Not implemented yet |
| US08-5 | FAILED | Meal isn&#39;t deleted directly, user must manually update this site |
| US08-6 | PASSED |
 |
| US09-0 | BLOCKED | Not implemented yet |
| US09-1 | BLOCKED | Not implemented yet |
| US10-0 | PASSED |
 |
| US10-1 | FAILED | Score isn&#39;t updating |
| US10-2 | FAILED | Score isn&#39;t updating directly, user must manually update this site |
| US10-3 | PASSED |
 |
| US10-4 | PASSED |
 |
