@model MyRecipe.Web.ViewModels.ChangeEmail.ChangeEmailSuccessViewModel

@{
    ViewData["Title"] = "View";
}

<div class="text-center h-100 d-flex flex-column justify-content-center">
    <h1>Your Email was changed successfully</h1>
    <p>You may now log in using "@Html.DisplayFor(model => model.NewEmail)"</p>
</div>